<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <h2>{{ 'AVISLEGAL.TITLE.TITLE1' | translate }}</h2>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/">Inici</a></li>
                        <li>{{ 'AVISLEGAL.TITLE.TITLE1' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="terms-conditions ptb-100">
    <div class="container">
        <div class="single-privacy">
            <p>
                {{ 'AVISLEGAL.CONTENT.CONTENT1' | translate }}
            </p>
            <p>
                {{ 'AVISLEGAL.CONTENT.CONTENT2' | translate }}
            </p>
            <h3 class="mt-0">{{ 'AVISLEGAL.TITLE.SUBTITLE1' | translate }}</h3>
            <p>{{ 'AVISLEGAL.CONTENT.CONTENT3' | translate }}</p>
            <p>{{ 'AVISLEGAL.CONTENT.CONTENT4' | translate }}</p>
            <p>{{ 'AVISLEGAL.CONTENT.CONTENT5' | translate }}</p>
            <p>{{ 'AVISLEGAL.CONTENT.CONTENT6' | translate }}</p>

            <h3>{{ 'AVISLEGAL.TITLE.SUBTITLE2' | translate }}</h3>
            <p>{{ 'AVISLEGAL.CONTENT.CONTENT7' | translate }}</p>
            <p>{{ 'AVISLEGAL.CONTENT.CONTENT8' | translate }}</p>

            <h3>{{ 'AVISLEGAL.TITLE.SUBTITLE3' | translate }}</h3>
            <p>{{ 'AVISLEGAL.CONTENT.CONTENT9' | translate }}</p>

            <h3>{{ 'AVISLEGAL.TITLE.SUBTITLE4' | translate }}</h3>
            <p>{{ 'AVISLEGAL.CONTENT.CONTENT10' | translate }}</p>
        </div>
    </div>
</section>