.div-spacer {
    display: block;
    clear: both;
    height: 20px;
}

#btnTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnTop svg {
    width: 30px;
    height: 30px;
}

.container.hidden {
    opacity: 0;
    visibility: hidden;
}

.container.m-container {
    margin: 10px auto;
    position: relative;
    min-height: 500px;
}

.load {
    // position: absolute;
    position: fixed;
    text-align: center;
    margin: 200px auto;
}

.load.hidden {
    opacity: 0;
    visibility: hidden;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mat-h4 {
    font: arial;
    letter-spacing: normal;
    margin: 0;
}

a[type=button] {
    color: blue;
}

a[type=button]:hover {
    text-decoration: underline;
    opacity: 0.8;
}

table {
    width: 100%;
}

.mat-column-id {
    width: 10%;
}

.mat-column-name {
    width: 90%;
}

button {
    outline: none;
    margin-right: 5px;
}

.mat-elevation-z8 {
    position: relative;
}

.m-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

.mat-row {
    cursor: pointer;
}