<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <h2>Política de Cookies de https://girohosting.com</h2>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/">Inici</a></li>
                        <li>Política de Cookies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="terms-conditions ptb-100">
    <div class="container">
        <div class="single-privacy">
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT0' | translate }}</p>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT01' | translate }}</p>

            <h3 class="mt-0">{{ 'POLITICACOOKIES.TITLE.TITLE1' | translate }}</h3>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT1' | translate }}</p>

            <h3>{{ 'POLITICACOOKIES.TITLE.TITLE2' | translate }}</h3>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT2' | translate }} (+ info clicando en: <a href="https://policies.google.com/technologies/cookies#types-of-cookies"> Google Analytics</a>).</p>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT3' | translate }} (+ info clicando en: <a href="https://www.facebook.com/policies/cookies/"> Facebook</a>).</p>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT3' | translate }} (+ info clicando en: <a href="https://www.facebook.com/policies/cookies/"> Facebook</a>).</p>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT4' | translate }}</p>

            <h3>{{ 'POLITICACOOKIES.TITLE.TITLE3' | translate }}</h3>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT9' | translate }}</p>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT91' | translate }}</p>

            <h3>Firefox:</h3>
            <a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies" target="blank">https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies</a>

            <h3>Chrome:</h3>
            <a href="https://support.google.com/chrome/answer/95647?hl=es" target="blank">https://support.google.com/chrome/answer/95647?hl=es</a>

            <h3>{{ 'POLITICACOOKIES.TITLE.TITLE4' | translate }}</h3>
            <a href="https://support.google.com/chrome/answer/2392971?hl=es" target="blank">https://support.google.com/chrome/answer/2392971?hl=es</a>

            <h3>Explorer:</h3>
            <a href="https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer" target="blank">https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer</a>

            <h3>Safari:</h3>
            <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="blank">https://support.apple.com/es-es/guide/safari/sfri11471/mac</a>

            <h3>{{ 'POLITICACOOKIES.TITLE.TITLE5' | translate }}</h3>
            <a href="https://support.google.com/chrome/answer/95647?hl=es&co=GENIE.Platform%3DiOS&oco=1" target="blank">https://support.google.com/chrome/answer/95647?hl=es&co=GENIE.Platform%3DiOS&oco=1</a>

            <h3>Opera:</h3>
            <a href="https://help.opera.com/en/latest/security-and-privacy/" target="blank">https://help.opera.com/en/latest/security-and-privacy/</a><br>
            <a href="https://www.opera.com/es/terms" target="blank">https://www.opera.com/es/terms</a><br>
            <a href="http://www.allaboutcookies.org/es/administrar-las-cookies/opera.html" target="blank">http://www.allaboutcookies.org/es/administrar-las-cookies/opera.html</a>

            <h3>{{ 'POLITICACOOKIES.TITLE.TITLE6' | translate }}</h3>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT10' | translate }}</p>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT101' | translate }}</p>

            <h3>{{ 'POLITICACOOKIES.TITLE.TITLE7' | translate }}</h3>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT11' | translate }}</p>

            <h3>{{ 'POLITICACOOKIES.TITLE.TITLE8' | translate }}</h3>
            <p>{{ 'POLITICACOOKIES.CONTENT.CONTENT12' | translate }}</p>
        </div>
    </div>
</section>