<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <h2>{{ 'POLITICAPRIVACITAT.TITLE.TITLE1' | translate }}</h2>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/">Inici</a></li>
                        <li>{{ 'POLITICAPRIVACITAT.TITLE.TITLE1' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="terms-conditions ptb-100">
    <div class="container">
        <div class="single-privacy">
            <h3 class="mt-0">{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE1' | translate }}</h3>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT1' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT2' | translate }}</p>

            <h3>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE2' | translate }}</h3>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT3' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT4' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT5' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT6' | translate }}</p>

            <h3>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE3' | translate }}</h3>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT7' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT8' | translate }}</p>

            <h3>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE4' | translate }}</h3>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT9' | translate }}</p>

            <h3>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE5' | translate }}</h3>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT10' | translate }}</p>

            <h3>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE6' | translate }}</h3>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT11' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT12' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT13' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT14' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT15' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT16' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT17' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT18' | translate }}</p>

            <h3>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE7' | translate }}</h3>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT19' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT20' | translate }}</p>
            <p>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT21' | translate }}</p>

        </div>
    </div>
</section>