<section class="main-banner-area main-banner-area-one main-slider-area">
    <div class="main-slider owl-carousel owl-theme">
        <div class="main-slider-item slider-item-bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="banner-text">
                                    <h1>{{'MARKETING_DIGITAL.TITLE.MAIN_TITLE' | translate}}</h1>
                                    <p><strong>{{'MARKETING_DIGITAL.IMPORTANT_CONTENT.PARA_HEADER1_CONTENT' | translate}}</strong></p>
                                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_HEADER2_CONTENT1' | translate}} <strong>{{'MARKETING_DIGITAL.IMPORTANT_CONTENT.CONTENT1' | translate}}</strong> {{'MARKETING_DIGITAL.CONTENT.PARA_HEADER2_CONTENT2' | translate}}</p>
                                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_HEADER3_CONTENT' | translate}}</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="banner-main-img banner-one-main-img">
                                    <img src="assets/img/banner-one/banner-one-main-img.png" alt="Image">
                                </div>
                                <div class="banner-img">
                                    <img class="animation-1" src="assets/img/banner-one/banner-one-shape-one.png" alt="Image">
                                    <img class="animation-2" src="assets/img/banner-one/banner-one-shape-two.png" alt="Image">
                                    <img class="animation-3" src="assets/img/banner-one/banner-one-shape-three.png" alt="Image">
                                    <img class="animation-4" src="assets/img/banner-one/banner-one-shape-four.png" alt="Image">
                                    <img class="animation-5" src="assets/img/banner-one/banner-one-shape-five.png" alt="Image">
                                    <img class="animation-6" src="assets/img/banner-one/banner-one-shape-six.png" alt="Image">
                                    <img class="animation-7" src="assets/img/banner-one/banner-one-shape-seven.png" alt="Image">
                                    <img class="animation-8" src="assets/img/banner-one/banner-one-shape-eight.png" alt="Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-slider-item slider-item-bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="banner-text">
                                    <h1>{{'MARKETING_DIGITAL.TITLE.MAIN_TITLE' | translate}}</h1>
                                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_HEADER4_CONTENT1' | translate}} <strong>{{'MARKETING_DIGITAL.IMPORTANT_CONTENT.CONTENT1' | translate}}</strong> {{'MARKETING_DIGITAL.CONTENT.PARA_HEADER4_CONTENT2' | translate}}</p>
                                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_HEADER5_CONTENT' | translate}}</p>
                                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_HEADER6_CONTENT1' | translate}} <strong>{{'MARKETING_DIGITAL.IMPORTANT_CONTENT.CONTENT1' | translate}}</strong>{{'MARKETING_DIGITAL.CONTENT.PARA_HEADER6_CONTENT2' | translate}}</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="banner-main-img banner-one-main-img">
                                    <img src="assets/img/banner-one/banner-one-main-img.png" alt="Image">
                                </div>
                                <div class="banner-img">
                                    <img class="animation-1" src="assets/img/banner-one/banner-one-shape-one.png" alt="Image">
                                    <img class="animation-2" src="assets/img/banner-one/banner-one-shape-two.png" alt="Image">
                                    <img class="animation-3" src="assets/img/banner-one/banner-one-shape-three.png" alt="Image">
                                    <img class="animation-4" src="assets/img/banner-one/banner-one-shape-four.png" alt="Image">
                                    <img class="animation-5" src="assets/img/banner-one/banner-one-shape-five.png" alt="Image">
                                    <img class="animation-6" src="assets/img/banner-one/banner-one-shape-six.png" alt="Image">
                                    <img class="animation-7" src="assets/img/banner-one/banner-one-shape-seven.png" alt="Image">
                                    <img class="animation-8" src="assets/img/banner-one/banner-one-shape-eight.png" alt="Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-line-one">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-one.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-two.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-three.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-two.png" alt="Image">
        <img src="assets/img/banner-shape/banner-shape-three.png" alt="Image">
    </div>
</section>

<section class="customer-support-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="customer-title">
                    <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE1' | translate}}</strong></h2>
                </div>

                <ul class="support-list">
                    <li>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GESTIONES1_CONTENT' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GESTIONES2_CONTENT' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GESTIONES3_CONTENT' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GESTIONES4_CONTENT' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GESTIONES5_CONTENT' | translate}}</p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="support-img">
                    <img [src]="'MARKETING_DIGITAL.LINKS.GESTIONES' | translate" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solutions-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="solutions-img">
                    <img [src]="'MARKETING_DIGITAL.LINKS.ESTUDIOS' | translate" alt="Image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="solutions-wrap">
                    <div class="solutions-title">
                        <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE2' | translate}}</strong></h2>
                    </div>
                    <ul class="solutions-list">
                        <li><i class="flaticon-right"></i>
                            <p>
                                {{'MARKETING_DIGITAL.CONTENT.PARA_ESTUDIOS1_CONTENT1' | translate}} <strong>{{'MARKETING_DIGITAL.IMPORTANT_CONTENT.CONTENT1' | translate}}</strong> {{'MARKETING_DIGITAL.CONTENT.PARA_ESTUDIOS1_CONTENT2' | translate}}
                            </p>
                        </li>
                        <li><i class="flaticon-right"></i>
                            <p>
                                {{'MARKETING_DIGITAL.CONTENT.PARA_ESTUDIOS2_CONTENT' | translate}}
                            </p>
                        </li>
                        <li><i class="flaticon-right"></i>
                            <p>
                                {{'MARKETING_DIGITAL.CONTENT.PARA_ESTUDIOS3_CONTENT' | translate}}
                            </p>
                        </li>
                        <li><i class="flaticon-right"></i>
                            <p>
                                {{'MARKETING_DIGITAL.CONTENT.PARA_ESTUDIOS4_CONTENT' | translate}}
                            </p>
                        </li>
                        <li><i class="flaticon-right"></i>
                            <p>
                                {{'MARKETING_DIGITAL.CONTENT.PARA_ESTUDIOS5_CONTENT' | translate}}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="technology-area pb-70" id="campanyes_container">
    <div class="container">
        <div class="section-title">
            <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE3_1' | translate}}</strong> <strong>{{'MARKETING_DIGITAL.TITLE.TITLE3_2' | translate}}</strong></h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-technology">
                    <div class="technology-icon-bg">
                        <img src="assets/img/shape/technology-icon-bg.png" alt="Image">
                        <i class="flaticon-settings"></i>
                    </div>

                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_CAMPANAS1_CONTENT1' | translate}} <strong>{{'MARKETING_DIGITAL.IMPORTANT_CONTENT.CONTENT1' | translate}}</strong> {{'MARKETING_DIGITAL.CONTENT.PARA_CAMPANAS1_CONTENT2' | translate}}</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-technology">
                    <div class="technology-icon-bg">
                        <img src="assets/img/shape/technology-icon-bg.png" alt="Image">
                        <i class="flaticon-password"></i>
                    </div>

                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_CAMPANAS2_CONTENT' | translate}}</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-technology">
                    <div class="technology-icon-bg">
                        <img src="assets/img/shape/technology-icon-bg.png" alt="Image">
                        <i class="flaticon-backup"></i>
                    </div>

                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_CAMPANAS3_CONTENT' | translate}}</p>
                </div>
            </div>

            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-technology">
                    <div class="technology-icon-bg">
                        <img src="assets/img/shape/technology-icon-bg.png" alt="Image">
                        <i class="flaticon-speedometer-1"></i>
                    </div>

                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_CAMPANAS4_CONTENT' | translate}}</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-technology">
                    <div class="technology-icon-bg">
                        <img src="assets/img/shape/technology-icon-bg.png" alt="Image">
                        <i class="flaticon-database"></i>
                    </div>

                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_CAMPANAS5_CONTENT' | translate}}</p>
                </div>
            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>
</section>

<section class="customer-support-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="customer-title">
                    <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE4_1' | translate}}</strong></h2>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_SEO1_CONTENT' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_SEO2_CONTENT' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_SEO3_CONTENT' | translate}}</p>
                    <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE4_2' | translate}}</strong></h2>
                </div>

                <ul class="support-list">
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO1_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO2_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO3_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO4_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO5_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO6_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO7_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO8_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO9_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO10_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO11_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO12_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO13_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO14_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_SEO15_CONTENT' | translate}}</li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="support-img pb-100">
                    <img [src]="'MARKETING_DIGITAL.LINKS.SEO' | translate" alt="Image">
                </div>
                <div class="support-img">
                    <img src="assets/img/server-img.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solutions-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="solutions-img">
                    <img src="assets/img/digital-marketing/montatge-gif-google-ads.gif" alt="Image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="solutions-wrap">
                    <div class="solutions-title">
                        <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE5_1' | translate}}</strong></h2>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GOOGLE_ADS1_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GOOGLE_ADS2_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GOOGLE_ADS3_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GOOGLE_ADS4_CONTENT' | translate}}</p>
                        <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE5_2' | translate}}</strong></h3>
                    </div>
                    <ul class="solutions-list">
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GOOGLE_ADS1_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GOOGLE_ADS2_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GOOGLE_ADS3_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GOOGLE_ADS4_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GOOGLE_ADS5_CONTENT' | translate}}
                        </li>
                        <li *ngIf="translate.currentLang == 'CAT'"><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GOOGLE_ADS6_CONTENT' | translate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="customer-support-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="customer-title">
                    <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE6_1' | translate}}</strong></h2>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_YOUTUBE_ADS1_CONTENT' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_YOUTUBE_ADS2_CONTENT' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_YOUTUBE_ADS3_CONTENT' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_YOUTUBE_ADS4_CONTENT' | translate}}</p>
                    <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE6_2' | translate}}</strong></h3>
                </div>

                <ul class="support-list">
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_YOUTUBE_ADS1_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_YOUTUBE_ADS2_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_YOUTUBE_ADS3_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_YOUTUBE_ADS4_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_YOUTUBE_ADS5_CONTENT' | translate}}</li>
                    <li *ngIf="translate.currentLang == 'CAT'">{{'MARKETING_DIGITAL.CONTENT.LI_YOUTUBE_ADS6_CONTENT' | translate}}</li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="support-img">
                    <img src="assets/img/digital-marketing/yt-ads.gif" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solutions-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="solutions-img">
                    <img src="assets/img/digital-marketing/montatge-gif-gmail-ads.gif" alt="Image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="solutions-wrap">
                    <div class="solutions-title">
                        <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE7_1' | translate}}</strong></h2>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GMAIL_ADS1_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GMAIL_ADS2_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GMAIL_ADS3_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_GMAIL_ADS4_CONTENT' | translate}}</p>
                        <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE7_2' | translate}}</strong></h3>
                    </div>
                    <ul class="solutions-list">
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GMAIL_ADS1_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GMAIL_ADS2_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GMAIL_ADS3_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GMAIL_ADS4_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GMAIL_ADS5_CONTENT' | translate}}
                        </li>
                        <li *ngIf="translate.currentLang == 'CAT'"><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_GMAIL_ADS6_CONTENT' | translate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="customer-support-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="customer-title">
                    <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE8_1' | translate}}</strong></h2>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_FACEBOOK_ADS1_CONTENT' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_FACEBOOK_ADS2_CONTENT' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_FACEBOOK_ADS3_CONTENT' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_FACEBOOK_ADS4_CONTENT' | translate}}</p>
                    <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE8_2' | translate}}</strong></h3>
                </div>

                <ul class="support-list">
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_FACEBOOK_ADS1_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_FACEBOOK_ADS2_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_FACEBOOK_ADS3_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_FACEBOOK_ADS4_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_FACEBOOK_ADS5_CONTENT' | translate}}</li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="support-img">
                    <img src="assets/img/digital-marketing/fb_ads_gif.gif" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solutions-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="solutions-img">
                    <img src="assets/img/digital-marketing/montatge-fotografies.gif" alt="Image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="solutions-wrap">
                    <div class="solutions-title">
                        <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE9_1' | translate}}</strong></h2>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_FOTOGRÀFICA1_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_FOTOGRÀFICA2_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_FOTOGRÀFICA3_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_FOTOGRÀFICA4_CONTENT' | translate}}</p>
                        <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE9_2' | translate}}</strong></h3>
                    </div>
                    <ul class="solutions-list">
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_FOTOGRÀFICA1_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_FOTOGRÀFICA2_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_FOTOGRÀFICA3_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_FOTOGRÀFICA4_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_FOTOGRÀFICA5_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_FOTOGRÀFICA6_CONTENT' | translate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="customer-support-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="customer-title">
                    <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE10_1' | translate}}</strong></h2>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_VIDEO1_CONTENT' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_VIDEO2_CONTENT' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_VIDEO3_CONTENT' | translate}}</p>
                    <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE10_2' | translate}}</strong></h3>
                </div>

                <ul class="support-list">
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_VIDEO1_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_VIDEO2_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_VIDEO3_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_VIDEO4_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_VIDEO5_CONTENT' | translate}}</li>
                    <li>{{'MARKETING_DIGITAL.CONTENT.LI_VIDEO6_CONTENT' | translate}}</li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="support-img">
                    <img src="assets/img/digital-marketing/fb_ads_gif.gif" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solutions-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="solutions-img">
                    <img src="assets/img/drone.png" alt="Image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="solutions-wrap">
                    <div class="solutions-title">
                        <h2><strong>{{'MARKETING_DIGITAL.TITLE.TITLE11_1' | translate}}</strong></h2>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_IMAGEN1_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_IMAGEN2_CONTENT' | translate}}</p>
                        <p>{{'MARKETING_DIGITAL.CONTENT.PARA_IMAGEN3_CONTENT' | translate}}</p>
                        <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE11_2' | translate}}</strong></h3>
                    </div>
                    <ul class="solutions-list">
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_IMAGEN1_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_IMAGEN2_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_IMAGEN3_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_IMAGEN4_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_IMAGEN5_CONTENT' | translate}}
                        </li>
                        <li><i class="flaticon-right"></i> {{'MARKETING_DIGITAL.CONTENT.LI_IMAGEN6_CONTENT' | translate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shared-hosting-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6">
                <ul class="hosting-list">
                    <li>
                        <a (click)="handleOtherServices(1)">
                            <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE12_1' | translate}}</strong></h3>
                        </a>
                    </li>

                    <li>
                        <a (click)="handleOtherServices(2)">
                            <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE11_2' | translate}}</strong></h3>
                        </a>
                    </li>

                    <li>
                        <a (click)="handleOtherServices(3)">
                            <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE12_3' | translate}}</strong></h3>
                        </a>
                    </li>

                    <li>
                        <a (click)="handleOtherServices(4)">
                            <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE12_4' | translate}}</strong></h3>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-5 col-md-6">
                <div class="shared-hosting-content">
                    <h2>{{'MARKETING_DIGITAL.TITLE.TITLE12' | translate}}</h2>
                </div>

                <div id="creamos_service_container">
                    <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE12_1' | translate}}</strong></h3>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_CREAMOS_CONTENT1' | translate}} <strong>{{'MARKETING_DIGITAL.IMPORTANT_CONTENT.CONTENT1' | translate}}</strong> {{'MARKETING_DIGITAL.CONTENT.PARA_CREAMOS_CONTENT2' | translate}}</p>
                </div>

                <div id="dolibarr_service_container" style="display: none;">
                    <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE11_2' | translate}}</strong></h3>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_DOLIBARR_CONTENT' | translate}}</p>
                </div>

                <div id="digital_service_container" style="display: none;">
                    <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE12_3' | translate}}</strong></h3>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_DIGITAL1_CONTENT1' | translate}} <strong>{{'MARKETING_DIGITAL.IMPORTANT_CONTENT.CONTENT1' | translate}}</strong> {{'MARKETING_DIGITAL.CONTENT.PARA_DIGITAL1_CONTENT2' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_DIGITAL2_CONTENT1' | translate}} <strong>{{'MARKETING_DIGITAL.IMPORTANT_CONTENT.CONTENT1' | translate}}</strong> {{'MARKETING_DIGITAL.CONTENT.PARA_DIGITAL2_CONTENT2' | translate}}</p>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_DIGITAL3_CONTENT' | translate}}</p>
                </div>

                <div id="ciber_service_container" style="display: none;">
                    <h3><strong>{{'MARKETING_DIGITAL.TITLE.TITLE12_4' | translate}}</strong></h3>
                    <p>{{'MARKETING_DIGITAL.CONTENT.PARA_CIBER_CONTENT1' | translate}} <strong>{{'MARKETING_DIGITAL.IMPORTANT_CONTENT.CONTENT1' | translate}}</strong> {{'MARKETING_DIGITAL.CONTENT.PARA_CIBER_CONTENT2' | translate}}</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="shared-hosting-img">
                    <img src="assets/img/shared-hosting-img.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hosting-solution-area ptb-100">
    <div class="container">
        <div class="hosting-solution-wrap">
            <h4>{{'MARKETING_DIGITAL.CONTENT.PARA_THE_END' | translate}}</h4>
        </div>
    </div>

    <div class="shape shape-one"><img src="assets/img/shape/hosting-solution-one.png" alt=""></div>
    <div class="shape shape-two"><img src="assets/img/shape/hosting-solution-two.png" alt=""></div>
</section>